*, html, body {
	margin: 0;
	padding: 0;
  }
  
  :root{
  --bg-primary: rgb(70,89,255);
  --bg-secondary: #eaeaea;
  --txt-primary: #f7f7f7;
  --txt-secondary: #222222;
  --icons-bg-primary: tomato;
  --icons-bg-secondary: #777777;
  }
  
  .container{
  /*   display: block; */
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: var(--bg-primary);
	font-family: 'Silkscreen', cursive;
  }
  
  .wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px;
  }
  
  .card{
	width: 40%;
	border: 1px solid white;
	background-color: var(--bg-secondary);
	color: var(--txt-secondary);
	padding: 32px;
	margin: 8px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  }
  
  .text-center{
	text-align: center;
  }
  
  .icons{
	margin-top: 8px;
	font-size: 24px;
	color: var(--icons-bg-primary);
  }
  
  .title{
	font-size: 2em;
  }
  
  .description{
	margin-top: 8px;
	font-size: .7em;
  }
  
  .btn{
	margin-top: 16px;
	padding: 8px;
	cursor: pointer;
	border: none;
	width: 100%;
	font-family: 'Silkscreen', cursive;
  }
  
  .btn:hover{
	background-color: var(--bg-primary);
	color: var(--txt-primary);
	transition: .4s ease-in-out;
  }
  
  @media screen and (max-width: 280px){
	.container{
	  background-color: var(--bg-primary);
	}
	.card{
	  width: 75%;
	  height: 75%;
	}
	.title{
	  font-size: 3em;
	}
	.icons{
	  font-size: 2em;
	}
	.description{
	  font-size: 2em;
	}
	.btn{
	  padding: 16px;
	  font-size: 2em;
	}
  }
  /* 
  @media screen and (min-width: 1200px){
	.container{
	  display: none;
	}
  } */
  
  
  header {
	  background: #1A2238;
	  color: #eaeaea;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  gap: 10px;
	  padding: 15px;
	  font-family: Helvetica;
  }
  
  .logo {
	  margin-right: auto;
	  display: flex;
	  gap: 6px;
  }
  
  .logo-img {
	  width: 35px;
	  height: 35px;
	  margin-left: 10px;
  }
  
  .logo-title {
	  margin-left: 2.5em;
	  cursor: pointer;
	  transition: all .5s ease 0s;
  }
  
  .logo:hover {
	  color: #FF6A3D;
  }
  
  .btn-cta {
	  margin-right: 10px;
	  border: none;
	  font-size: 20px;
	  padding: 6px 12px;
	  background: #FF6A3D;
	  color: #eaeaea;
	  border-radius: 8px;
	  cursor: pointer;
  }
  
  nav ul{
	  display: flex;
	  padding: 10px;
	  
  }
  
  li {
	  list-style-type: none;
	  padding: 10px;
  }
  
  li a {
	  transition: all .5s ease 0s;
	  display: inline-block;
	  margin-right: 1em;
  }
  
  li a:hover {
	  color: #FF6A3D;
  }
  
  a {
	  color: #eaeaea;
	  text-decoration: none;
  }
  
  footer {
	  padding: 20px;
	  text-align: center;
	  background: #1A2238;
	  color: #eaeaea;
	  bottom:0px 0;
	  margin-bottom: 0;
	  font-family: Helvetica;
  }
  
  @media screen and (max-width: 600px) {
	  .card {
		  flex-direction: column;
		  gap: 0;
	  }
	  .card-item {
		  width: 100%;
		  opacity: 0.9;
	  }
	  
	  .container {
		  width: 100%;
		  padding: 0;
	  }
	  
	  .intro {
		  margin-top: 20px;
	  }
	  
	  .img-foto {
		  padding: 0;
	  }
	  
	  nav {
		  position: fixed;
		  bottom: 0;
		  width: 100%;
		  background: #1A2238;
		  z-index: 9;
	  }
	  
	  footer {
		  margin-bottom: 60px;
		  margin-top: 0px;
	  }
  }